#Dependencies
node_modules/
*.env
.env.migrate
.env.test
._.DS_Store
#Webstorm/text editor meta
.idea/

#Distribution
dist/

#Emacs
*~
*#

#tern
.tern-port


uploads/
storage/

.DS_Store


#NYC
.nyc_output/
coverage/